.comboBtn {
    width: 150px;
    height: 50px;
    /* background-color: blueviolet; */
    background-color: #F33479;
    border: 3px solid #000;
    border-radius: 30px;
    position: fixed; 
    bottom: 50px; 
    right: 50px; 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.comboBtn:hover{
    cursor: pointer;
}

.comboPopUp{
    width: 30vw;
    height: 75vh;
    background-color: #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0px; 
    right: 20px; 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed; 
}